*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.backing {
  background: #f7f7f9;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url(images/Header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.modal {
  background: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 6rem 1.5rem;
  z-index: 10;
}

a {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.938rem;
  letter-spacing: 0.125rem;
  text-decoration: none;
  background: none;
  padding: 0.313rem 0.313rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.seep {
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  background-color: #fff;
  font-size: 1.063rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 1.25rem;
  margin-left: 0;
}

.foot .seep {
  height: 40px;
  padding: 10px;
  border: 1.5px solid #396df2;
  border-radius: 7px;
  cursor: pointer;
  background: #fff;
  width: 30%;
}

.getmyr {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 12.5%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1.5px solid #6070ff;
  cursor: pointer;
}

.aboutme .seep {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 5px;
  cursor: pointer;
}

.port:hover,
.foot .seep:hover,
.allabout .getmyr:hover,
.buttonget .get:hover {
  background-color: #6070ff;
  color: #fff;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

a:focus,
.foot .seep:focus,
.allabout .getmyr:focus,
.buttonget .get:focus {
  background-color: #2230d2;
  color: #fff;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

a:disabled,
.foot .seep:disabled,
.allabout .getmyr:disabled,
.buttonget .get:disabled {
  background-color: #fff;
  color: #5e6c84;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.toggleNav {
  display: none;
}

p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

img {
  width: 10%;
  height: auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

.about {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

h6 {
  color: #7f8cff;
  font-size: 16px;
}

.name {
  /* border: 1px solid orange; */
  display: flex;
  margin-left: 6.25rem;
  font-weight: 800;
  color: #6070ff;
}

.mhead {
  list-style-type: none;
}

ul {
  /* list-style: none; */
}

.header {
  /* border: 1px solid yellow; */
  display: flex;
  margin-top: 0;
  background: #fff;
}

.flex-nav ul {
  /* border: 1px solid black; */
  display: flex;
  margin: 0;
  padding: 0;
}

.letsconect {
  /* border: 1px solid red; */
  display: flex;
  background-image: url(./images/Social\ Media.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  align-self: flex-start;
  margin-top: 0;
  width: 76%;
  margin-left: 12.5%;
}

.sicons {
  /* border: 1px solid black; */
  display: flex;
  background-image: url(./images/social\ media\ icons.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  align-self: flex-start;
  margin-top: 0;
  margin-left: 12.5%;
  width: 76%;
}

.introduction {
  /* border: 1px solid red; */
  margin-left: 14%;
  width: 72%;
}

.info ul {
  /* border: 1px solid blue; */
  display: flex;
  color: #505f79;
  width: 60%;
  margin-left: calc(60% - 500px);
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #6070ff;
}

/* Second-milestone */

.exp {
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  display: grid;
}

.tonic {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 700;
  color: #091e42;
}

.canopy {
  flex: 0.5;
  justify-content: center;
  align-content: center;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #344563;
}

.experience {
  margin: 0;
  padding: 0;
  align-items: center;
  flex: 4;
  display: contents;
}

.profilexp {
  padding: 1rem 0.5rem 1.5rem 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  background: #fff;
}

.banner {
  width: 50%;
}

.mainfo {
  padding: 1rem;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bed,
.y2015 {
  color: #c1c7d0;
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  display: list-item;
  list-style: disc;
}

.bed {
  width: 10rem;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sleng,
.sframw,
.sskill {
  margin-left: 5%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.html,
.css,
.js {
  padding: 0.125rem 0.625rem;
  border-radius: 0.625rem;
  color: #6070ff;
  background: #ebebff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}

.allaboutme {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 1%;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
  flex-basis: 37rem;
  background: #fff;
  border-top-right-radius: 5rem;
}

.tabout {
  margin-left: 12.5%;
  width: 76%;
}

.pabout {
  margin-left: 12.5%;
  width: 76%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.allabout {
  width: 70%;
  flex-basis: 37rem;
}

.knowledges {
  margin: 0.375rem 0;
  padding: 1.5rem 0;
  flex-basis: 38rem;
  width: 70%;
  align-items: left;
  list-style-type: none;
}

.app {
  display: flex;
  align-items: left;
  justify-content: start;
  gap: 1rem;
}

.zleng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.app li {
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0;
  padding: 0.5rem 0.75rem;
}

.framw,
.skill {
  border-bottom: 2px solid #dfe1e6;
}

.zframw,
.zskill {
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 0;
  cursor: pointer;
  display: flex;
}

.contact::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 7rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.harrow {
  width: 1rem;
}

.varrow {
  width: 0.5rem;
}

.contact_ask {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}

.contact_exp {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  width: 60%;
  margin: 20%;
}

.contact_ask,
.contact_exp {
  color: #fff;
  text-align: center;
}

.contactme form li input {
  width: 95%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0;
}

.contactme form li label {
  display: block;
  color: #fff;
}

.contactme form li textarea {
  width: 95%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 0;
  resize: none;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.get {
  margin: auto;
  height: 2.5rem;
  padding: 0.625rem;
  border: 1.5px solid #396df2;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #fff;
  width: 25%;
}

.contactme form li .get {
  height: 3rem;
  padding: 0.75rem;
  color: #6070ff;
  background: #fff;
  cursor: pointer;
  margin: 18px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.063rem;
  font-weight: 500;
}

#survey {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#survey-form {
  margin-top: 2rem;
}

.ijs,
.ihtml,
.icss {
  display: flex;
  flex-direction: column;
  background: #f7f7f9;
  width: 20%;
  justify-content: flex-start;
}

.appimg {
  width: 50%;
}

.appt {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: left;
}

.touch {
  padding-left: 40%;
  color: #396df2;
  font-size: 1.063rem;
  font-weight: 500;
  line-height: 1.5rem;
}

input::placeholder {
  opacity: 1;
  color: #172b4d;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 1.063rem;
  line-height: 1.25rem;
  padding: 1rem;
}

textarea::placeholder {
  opacity: 1;
  color: #b3bac5;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 0.938rem;
  line-height: 1.5rem;
  padding: 1rem;
}

@media (min-width: 375px) and (max-width: 1024px) {
  .wrapper::before {
    background-image: url(images/header-shapes\ mobile.svg);
  }

  .flex-nav ul {
    flex-wrap: wrap;
    display: none;
  }

  .flex-nav li {
    flex-basis: 100%;
  }

  .wrapper {
    display: block;
  }

  .name {
    margin-left: 2.5rem;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
  }

  .hamburguer {
    display: block;
    width: 75px;
    cursor: pointer;
  }

  .mainfo {
    padding: 0;
  }

  .profilexp {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }

  .banner {
    width: 100%;
  }

  .sub {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .canopy {
    font-size: 1rem;
    width: 8rem;
  }

  .bed {
    width: 8rem;
    font-size: 1rem;
  }

  .y2015 {
    font-size: 1rem;
  }

  li.bed::marker {
    color: #c1c7d0;
    display: none;
  }

  .foot .seep {
    width: 45%;
  }

  .experience {
    display: contents;
  }

  .exp {
    align-items: center;
    max-width: 1104px;
    column-gap: 46px;
    padding: 1.5rem;
  }

  .allaboutme {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .allabout {
    width: 100%;
    max-height: 400px;
  }

  .tabout {
    margin-left: 6%;
  }

  .letsconect {
    margin-left: 6%;
  }

  .getmyr {
    margin-left: 6%;
  }

  .sicons {
    margin-left: 6%;
  }

  .pabout {
    margin-left: 6%;
    width: 88%;
  }

  .knowledges {
    width: 90%;
  }

  .app {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .ijs,
  .ihtml,
  .icss {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .appimg {
    width: 20%;
  }

  .contact {
    justify-content: space-between;
    margin-top: 10%;
  }

  .contact_exp {
    width: 95%;
    margin: 2.5%;
  }

  .touch {
    padding-left: 0;
  }

  .get {
    width: 50%;
  }
}
