*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url(images/Header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 6rem 1.5rem;
  z-index: 10;
}

a {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  background: none;
  padding: 5px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.port:hover,
.foot .seep:hover,
.allabout .getmyr:hover {
  background-color: #6070ff;
  color: #fff;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

a:enabled {
  background-color: #fff;
  color: #7f8cff;
}

a:disabled {
  background-color: #5e6c84;
}

a:active {
  background: #2230d2;
}

a:focus,
.foot .seep:focus,
.allabout .getmyr:focus {
  background-color: #2230d2;
  color: #fff;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

a:disabled,
.foot .seep:focus,
.allabout .getmyr:focus {
  background-color: #fff;
  color: #5e6c84;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.toggleNav {
  display: none;
}

p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

img {
  width: 10%;
  height: auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

h6 {
  color: #7f8cff;
  font-size: 16px;
}

.name {
  /* border: 1px solid orange; */
  display: flex;
  margin-left: 100px;
  font-weight: 800;
  color: #6070ff;
}

.mhead {
  list-style-type: none;
}

.header {
  /* border: 1px solid yellow; */
  display: flex;
  margin-top: 0;
  background: #fff;
}

.flex-nav ul {
  /* border: 1px solid black; */
  display: flex;
  margin: 0;
  padding: 0;
}

.letsconect {
  /* border: 1px solid red; */
  display: flex;
  background-image: url(./images/Social\ Media.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  align-self: flex-start;
  margin-top: 0;
  width: 72%;
  margin-left: 14%;
}

.sicons {
  /* border: 1px solid black; */
  display: flex;
  background-image: url(./images/social\ media\ icons.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  align-self: flex-start;
  margin-top: 0;
  margin-left: 14%;
  width: 72%;
}

.introduction {
  /* border: 1px solid red; */
  margin-left: 14%;
  width: 72%;
}

.info ul {
  /* border: 1px solid blue; */
  display: flex;
  color: #505f79;
  width: 60%;
  margin-left: calc(60% - 500px);
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #6070ff;
}

@media (min-width: 375px) and (max-width: 1024px) {
  .flex-nav ul {
    flex-wrap: wrap;
    display: none;
  }

  .flex-nav li {
    flex-basis: 100%;
  }

  .wrapper {
    display: block;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hamburguer {
    display: block;
    width: 60px;
    cursor: pointer;
  }
}

/* Second-milestone */

.exp {
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  display: grid;
}

.tonic {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #172b4d;
}

.canopy {
  flex: 1;
  justify-content: center;
  align-content: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #344563;
}

.experience {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex: 4;
  list-style-type: disc;
}

.profilexp {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
}

.banner {
  width: 100%;
}

.mainfo {
  padding: 1rem;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bed,
.y2015 {
  color: #7a869a;
  line-height: 16px;
  font-size: 13px;
  font-weight: 600;
}

.bed {
  width: 200px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sleng,
.sframw,
.sskill {
  margin-left: 5%;
}

.html,
.css,
.js {
  padding: 2px 10px;
  border-radius: 10px;
  color: #6070ff;
  background: #ebebff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.seep {
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  background-color: #fff;
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  margin-left: 0;
}

.foot .seep {
  width: 115px;
  height: 40px;
  padding: 10px;
  border: 1.5px solid #396df2;
  border-radius: 7px;
  cursor: pointer;
  background: #fff;
  width: 25%;
}

.getmyr {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 14%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1.5px solid #6070ff;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1%;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.tabout {
  margin-left: 14%;
  width: 72%;
}

.pabout {
  margin-left: 14%;
  width: 72%;
}

.aboutme .seep {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 5px;
  cursor: pointer;
}

.knowledges {
  margin: 6px 0;
  padding: 24px 0;
}

.zleng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.app li {
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 12px;
}

.framw,
.skill {
  border-bottom: 2px solid #dfe1e6;
}

.zframw,
.zskill {
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 0;
  cursor: pointer;
  display: flex;
}

.contact::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile.svg);
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 7rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.harrow {
  width: 1rem;
}

.varrow {
  width: 0.5rem;
}

.contact_ask,
.contact_exp {
  color: #fff;
  text-align: center;
}

.contactme form li input {
  width: 95%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0;
}

.contactme form li label {
  display: block;
  color: #fff;
}

.contactme form li textarea {
  width: 95%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 0;
  resize: none;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.contactme form li .get {
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

#survey {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ijs,
.ihtml,
.icss {
  display: flex;
  background: #f7f7f9;
  width: 95%;
}
